<div class="container-fluid">
  <div class="row primary-color-dark" style="height: 50px;">

  </div>
</div>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">LIKE</button>
    <button mat-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>

<div class="card example-card mt-1" >
  <!--Card image-->
  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Card title</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
  </div>
</div>

<!--Card-->
<div class="card example-card mt-1">

  <!--Card image-->
  <div class="view hm-white-slight waves-light" mdbWavesEffect>
      <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
      <a>
          <div class="mask"></div>
      </a>
  </div>

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Card title</h4>
      <!--Text-->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
  </div>

</div>
<!--/.Card-->

